

<h3>Delay reasons</h3>

<ul>
<% @milestone_delay_reason_ones.each do |mdr_o| %>
	<li> mdr_o.reason_description: 
		<ul>
		<% @milestone_delay_reason_twos.each do |mdr_t| %>
			<% if mdr_t.reason_one_id == mdr_o.id %>
			<li> mdr_t.reason_description: 
				<ul>
					<% @milestone_delay_reason_threes.each do |mdr_th| %>
						<% if mdr_t.reason_two_id == mdr_t.id %>
							<li> mdr_th.reason_description </li>
						<% end %>
					<% end %>
				</ul>
			</li>
			<% end %>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>