

<h3>Delay reasons</h3>

<ul>
<% @milestone_delay_reasons_first.each do |mdr_f| %>
	<li> mdr_f.reason_description: 
		<ul>
		<% @milestone_delay_reasons_second.each do |mdr_s| %>
			<% if mdr_s.reason_first_id_link == mdr_f.id %>
			<li> mdr_s.reason_description: 
				<ul>
					<% @milestone_delay_reasons_third.each do |mdr_t| %>
						<% if mdr_s.reason_first_id_link == mdr_f.id %>
							<li> mdr_t.reason_description </li>
						<% end %>
					<% end %>
				</ul>
			</li>
			<% end %>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>