<%= button_to "Operational Activities", {:action => "index_meta_activity" }, :method => :post %>
<!-- <%= button_to "Delete", {:action => "delete_meta_activity", :meta_activity_id => @meta_activity.id }, :method => :post %> -->

<% form_for @meta_activity, :url=>{:action=>'update_meta_activity'} do |f| -%>
  <%= render(:partial => "form_meta_activity") %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Update' %></p>
<% end -%>
