<%= button_to "Activities", {:action => "index_activity" }, :method => :post %>

<% form_for @activity, :url=>{:action=>'create_activity'} do |f| -%>
  <%= render(:partial => "form_activity") %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Create' %></p>
<% end -%>
