div#banner {
  background: #C090C0;
  border-bottom: 1px solid #000;
  }

#title {
  color: #707;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #89A;
  -moz-box-shadow: inset 4px 4px 4px #89A;
  -webkit-box-shadow: inset 4px 4px 4px #89A;
  }

.menu.active {
  background: #F8F;
  }

.menu.active:hover {
  background: #F8F;
  box-shadow: inset 4px 4px 4px #F6F;
  -moz-box-shadow: inset 4px 4px 4px #F6F;
  -webkit-box-shadow: inset 4px 4px 4px #F6F;
  }

h2 {
  background: #FDF;
  border: 1px solid #005;
  }

.cell_border {
 border: 1px solid black;
}

.delays_table {
  border-collapse: collapse;
  border: 1px solid black;
}

.delays_td {
  border: 1px solid;
  border-color: black;
  color: black;
}

strong {
  color: black;
}

.delay_justif {
  display: none;
}

.timeline_table {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: #D8D8D8;
  font-size: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.timeline_th {
  width: 100px;
  background-color: #E8E8E8;
}

.timeline_th_summary {
  width: 400px;
  background-color: #E8E8E8;
}

.timeline_th_start_date {
  width: 80px;
  background-color: #E8E8E8;
}

.timeline_th_date {
  width: 23px;
  transform:
  rotate(300deg);
  white-space: nowrap;
}

.timeline_th_date {
  width: 25px;
  transform:
  rotate(300deg);
  white-space: nowrap;
}

.timeline_th_date_span {
  background-color: #E8E8E8;
}

.timeline_th_date_span_today {
  background-color: #FFFF99;
}

.timeline_th_date_ccb {
  width: 25px;
  background-color: #FF6666;
}

.timeline_th_date_ccb_deployment {
  width: 25px;
  background-color: #A0A0A0;
}

.timeline_th_separation {
  width: 0px;
  border-right: 2px solid #D8D8D8;
  background-color: #E8E8E8;
}

.timeline_tr {
  border-top: 1px solid #D8D8D8;
}

.timeline_td {
  text-align: center;
}

.timeline_td_date_today {
  border-left: 2px solid #FFFF99;
  border-right: 2px solid #FFFF99;
  text-align: center;
}

.timeline_td_date_cbb {
  border-left: 2px solid #FF6666;
  border-right: 2px solid #FF6666;
  text-align: center;
}

.timeline_td_date_ccb_deployment {
  border-left: 2px solid #A0A0A0;
  border-right: 2px solid #A0A0A0;
  text-align: center;
}

.timeline_td_progress {
  background-color: #99CCFF;
  text-align: center;
}

.timeline_td_date_start {
  background-color: #9999FF;
  font-weight: bold;
  font-size: 150%;
  color: white;
  text-align: center;
}

.timeline_td_date_val_dep {
  background-color: #0000CC;
  font-weight: bold;
  font-size: 150%;
  color: white;
  text-align: center;
}

.timeline_td_separation {
  width: 0px;
  border-right: 2px solid #D8D8D8;
}

.timeline_blue_box {
  background-color: blue;
}

.timeline_red_box {
  background-color: red;
}

.timeline_green_box {
  background-color: green;
}