/* GENERAL */
.pm_type_tab{
	width : 50%;
	float: left;
	margin-right : 20px;
	border : 1px solid black;
}
.spider_chart{
	float: right;
	right: 0px;
	top: 180px;
	position: fixed;
/*	min-width: 300px;*/
/*	max-width: 600px;*/ 
	width : 600px;
/*	min-height: 200px;*/
	/*max-height: 400px;*/ 
	height : 400px;
	margin: 0 auto;
	display: none;
}
.deviation_spider_chart{
	right: 0px;
	top: 180px;
	width : 600px;
	height : 400px;
	margin: 0 auto;
}
.deviation_spider_export_chart{
	right: 0px;
	top: 180px;
	width : 600px;
	height : 400px;
	margin: 0 auto;
	display: none;
}
.spider_container
{
	width : 100%;
	background-color:#F7F7F7;
	margin-top: 30px;
	overflow:hidden; 
}
#spider_form_buttons
{
	margin-top:10px;
	background-color:#F7F7F7;
}

#spider_form_buttons_2
{
	margin-top:10px;
	background-color:#F7F7F7;
}

/* SPIDER TABLE CELLS */
.spider_question_text
{
	background-color:#89BEFF;
}
.grey_cell
{
	background-color: #6D6D6D;
	color:white;
}
.green_cell
{
	background-color: #8DC600;
}


/* DEVIATION */
.answer_button
{
	width: 50px;
  	border: 1px solid #900;
  	font-weight: bold;
  	border-radius: 5px;
}

.answer_button_select
{
	width: 50px;
  	color: #FFF;
  	background-color: #900;
  	border: 1px solid #900;
  	font-weight: bold;
  	border-radius: 5px;
}

.deliverable_not_done
{
	width: 320px;
  	border: 1px solid #900;
  	font-weight: bold;
  	border-radius: 5px;
}
.deliverable_not_done_select
{
	width: 320px;
  	color: #FFF;
  	background-color: #900;
  	border: 1px solid #900;
  	font-weight: bold;
  	border-radius: 5px;
}

.answer_button:hover, .deliverable_not_done:hover 
{
  	color: #FFF;
  	background: #FC9;
  	cursor: pointer;
  	border-color: #F00 #C30 #C30 #F00;
}

.answer_button_select:hover, .deliverable_not_done_select:hover 
{
  	color: #FFF;
  	background: #FC9;
  	cursor: pointer;
  	border-color: #F00 #C30 #C30 #F00;
}

.deviation_spider_table {
  	border-collapse: collapse;
	border: 1px solid red;
}
.deviation_spider_tr_activity {
	background-color:red;
	color: white;
}
.deviation_spider_tr_deliverable {
	background-color:#FF8080;
	color: white;
}