.consolidation_table {
  	border-collapse: collapse;
	border: 1px solid blue;
}
.consolidation_tr_activity {
	border: 1px solid blue;
}
.consolidation_td_activity {
	border: 1px solid blue;
	background-color:#8B8DC8;
	color: white;
}
.consolidation_tr_deliverable {
}
.consolidation_td_deliverable {
	border: 1px solid blue;
}
.consolidation_td_deliverable_left {
	background-color:#B5E1B1;
}
.consolidation_td_deliverable_right {
	background-color:#B5E1B1;
}
.pie_update_warning {
	color: red;
	visibility: hidden;
}