div#banner {
  background: #00CC66; /* #0C6 */
  border-bottom: 1px solid #000;
  }

#title {
  color: #707;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #89A;
  -moz-box-shadow: inset 4px 4px 4px #89A;
  -webkit-box-shadow: inset 4px 4px 4px #89A;
  }

.menu.active {
  background: #F8F;
  }

.menu.active:hover {
  background: #F8F;
  box-shadow: inset 4px 4px 4px #F6F;
  -moz-box-shadow: inset 4px 4px 4px #F6F;
  -webkit-box-shadow: inset 4px 4px 4px #F6F;
  }

.pdc_table {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.pdc_tr {
  border: 1px solid black;
}

.pdc_td_title {
  width: 120px;
}

.pdc_td {
  width: 120px;
  text-align: center;
}

.pdc_td_total_title {
  width: 120px;
  font-weight: bold;
}

.pdc_td_total {
  width: 120px;
  font-weight: bold;
  text-align: center;
}

strong {
  color: black;
}