div#banner {
  background: #00CC66; /* #0C6 */
  border-bottom: 1px solid #000;
  }

#title {
  color: #707;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #89A;
  -moz-box-shadow: inset 4px 4px 4px #89A;
  -webkit-box-shadow: inset 4px 4px 4px #89A;
  }

.menu.active {
  background: #F8F;
  }

.menu.active:hover {
  background: #F8F;
  box-shadow: inset 4px 4px 4px #F6F;
  -moz-box-shadow: inset 4px 4px 4px #F6F;
  -webkit-box-shadow: inset 4px 4px 4px #F6F;
  }

.top_view {
  float:top;
}

.left_view {
  float:left;
  margin-top: 400px;
}

.middle_view {
  float:left;
  margin-top: 400px;
  margin-left: 30px;
}

.pdc_table {
  max-width: 550px;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.pdc_tr {
  border: 1px solid black;
}

.pdc_td_title {
  width: 150px;
}

.pdc_td {
  width: 90px;
  text-align: center;
}

.pdc_td_red {
  width: 90px;
  text-align: center;
  background-color: #ff6666;
  color: white;
  font-weight: bold;
}

.pdc_td_orange {
  width: 90px;
  text-align: center;
  background-color: #ffb84d;
  color: white;
  font-weight: bold;
}

.pdc_td_total_title {
  width: 120px;
  font-weight: bold;
}

.pdc_td_total {
  font-weight: bold;
  text-align: center;
}

.pdc_td_total_red {
  font-weight: bold;
  text-align: center;
  background-color: #ff6666;
  color: white;
  font-weight: bold;
}

.pdc_td_total_orange {
  font-weight: bold;
  text-align: center;
  background-color: #ffb84d;
  color: white;
  font-weight: bold;
}

strong {
  color: black;
}

.pdc_tr_separator {
  border: 1px solid black;
}

.conso_legend {
  padding-left:5px;
  width:135px;
  float:left;
}