<table class="sortable">
<tr class="header">
<td>ID</td>
<td>Links</td>
<td></td>
<td>Status</td>
<td>Visibility</td>
<td>Assigned to</td>
<td>Summary</td>
<td>Stage</td>
<td>Kick-Off Date</td>
<td>SQLI</td>
<td>Airbus</td>
<td>Deployment</td>
<td>Planning validated</td>
</tr>