<h2>Mantis export</h2>

<h3>All CI except delivered/closed/rejected</h3>
<p> <% if @export_mantis_count > 0 %>
	<%= @export_mantis_count %> to be implemented -> <%= link_to('implement', {:action=>'mantis_implemented'}, {:class=>'btnlnk'}) %>
<% end %></p>
<textarea rows="18" cols="150" readonly>
	<%= @export_mantis_formula %>
</textarea>