<h2>KPI</h2>

<p>List of settings from PSU files imported in the tool:  <%= link_to('Spiders v3', {:action=>'extract_list_deliverable_SVT'}, {:class=>'btnlnk'}) %> <%= link_to('Spiders v4', {:action=>'extract_list_deliverable_SVF'}, {:class=>'btnlnk'}) %></p>
<p>E-M&T Operating Model adherence: <%= link_to('Spiders v3', {:action=>'extract_om_adherence_SVT'}, {:class=>'btnlnk'}) %> <%= link_to('Spiders v4', {:action=>'extract_om_adherence_SVF'}, {:class=>'btnlnk'}) %></p>


