<h2>KPI</h2>

<p>List of settings from PSU files imported in the tool: <%= link_to('Extract', {:action=>'extract_list_deliverable'}, {:class=>'btnlnk'}) %></p>
<p>E-M&T Operating Model adherence (Spiders v3): <%= link_to('Extract', {:action=>'extract_om_adherence_SVT'}, {:class=>'btnlnk'}) %></p>
<p>E-M&T Operating Model adherence (Spiders v4): <%= link_to('Extract', {:action=>'extract_om_adherence_SVF'}, {:class=>'btnlnk'}) %></p>