<p>
    <div style="float: left; width: auto;">
		<%= deliverable.name %> [Is Active : <%= deliverable.is_active %>]
		&nbsp;
	</div>    
	<%= button_to "Detail", {:action => "detail", :deliverable_id => deliverable.id }, {:method => :post} %>
</p>
