<SCRIPT language="Javascript">

function change_lifecycle(lifecycle_id)
{
	location.replace(generate_url("index?lifecycle_id="+lifecycle_id));
}

function create_new_deliverable() {
	location.replace(generate_url("new_deliverable?lifecycle_id=" + $("#choose_lifecycle").val()));
}

function generate_url(action_name) {
  if(location.toString().indexOf("index") !== -1)
  {
	return action_name;
  }
  else
  {
	return "deviation_deliverables/" + action_name;
  }
}
</SCRIPT>


Lifecycle : <%= select_tag('choose_lifecycle', options_for_select(@lifecycles, @lifecycle_index_select.to_i), {:onchange=>"change_lifecycle(this.value)"}) %>

<input type="button", :id="add_deliverable", onclick="create_new_deliverable();" value="New deliverable" />
<div id="deliverable_list">
  <%= render(:partial=>"deliverable", :collection=> @deliverables) %>
</div>