<div id="presale_content">
<div id="presale_content_left">
	<% form_for :@presale_presale_type, :url=>{:action=>'create_presale_presale_type_blank'} do |f| -%>
	  <%= render(:partial => "presale_presale_type_form_blank") %>
	  <%= submit_tag 'Save' %>
	<% end -%>
</div>
</div>