<script src="/javascripts/highcharts/highcharts.js" type="text/javascript"></script>  
<script src="/javascripts/highcharts/highcharts-more.js" type="text/javascript"></script>  
<script src="/javascripts/highcharts/exporting.js" type="text/javascript"></script>  
<script src="/javascripts/highcharts/lesson_chart.js" type="text/javascript"></script>  


<script type="text/javascript"> 
$(function () {


});
</script>

Axes
<div class="axe_chart" id"axe_chart_id"></div>

Sub-Axes
<div class="sub_axe_chart" id"sub_axe_chart_id"></div>
