Dear CI validators, <br/>
<br/>
A date has been updated on the <a href="http://tls-srv-eisq.sqli.com/ci_projects/show/<%= @ciproject.id %>">CI <%= @ciproject.extract_mantis_external_id.to_s %></a>.<br/>
<br/>
The reason logged is:<br/>
<%= @justification %>.
<br/><br/>
Thank you to validate it. <br/>
<br/>
Your very kind secretary, <br/>
The <a href="http://tls-srv-eisq.sqli.com/">BAM EISQ</a>. (feel free to contact Joan for any issue)