Dear<%= @recipient_names %>, <br/>
<br/>
A date has been updated on the CI <%= @ciproject.external_id %> : <a href="http://tls-srv-eisq.sqli.com/ci_projects/show/<%= @ciproject.id %>">http://tls-srv-eisq.sqli.com/ci_projects/show/<%= @ciproject.external_id %></a> <br/>
<br/>
Thank you to validate it. <br/>
<br/>
Your very kind secretary, <br/>
The <a href="http://tls-srv-eisq.sqli.com/">BAM EISQ</a>. (feel free to contact Joan for any issue)