<script language="Javascript">

function change_squad(squad_id) {
  if(location.toString().indexOf("index") !== -1)
  {
	location.replace("index?squad="+squad_id);
  }
  else
  {
	location.replace("squads/index?squad="+squad_id);
  }
}

</script>

<h3>Squad <%= select_tag('Squad', options_for_select(@squads.map{|s| [s.name,s.id]}, :selected => @current_squad.id), {:onchange=>"change_squad(this.value);"}) %></h3>