<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="all">
  <title>Lesson Learnt - BAM</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/general.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/spider.css" />

  <link href='http://fonts.googleapis.com/css?family=Stardos+Stencil&v1' rel='stylesheet' type='text/css'>
  <link	<link href='http://fonts.googleapis.com/css?family=Zeyada&v1' rel='stylesheet' type='text/css'>
  <link	<link href='http://fonts.googleapis.com/css?family=Kameron&v1' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/javascripts/highcharts/highcharts.js" type="text/javascript"></script>  
  <script src="/javascripts/highcharts/highcharts-more.js" type="text/javascript"></script>  
  <script src="/javascripts/highcharts/exporting.js" type="text/javascript"></script>  
  <script src="/javascripts/highcharts/spider_chart.js" type="text/javascript"></script>  

  <link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>
<%
  cu = current_user
  cu.last_view = Time.now
  cu.save
  s = cu.open_actions.size
  if s > 0
   nb_actions = ' <strong>' +s.to_s+'</strong>'
  else
    nb_actions = ''
  end
%>

<div id="banner">
  <%= render :file => 'layouts/context_select' %>
  <div id="title">Lesson Learnt</div>
  <div id="bandeau">
    <% b = get_bandeau; if b %>
      <div class="text"><%= b.text %></div>
      <div class="person"><%= b.person.name %></div>
    <% end %>
    <div class="link">
      <%= link_to('Add something', {:controller=>'bandeaus', :action=>'new'}) %> |
      <%= link_to('See all', {:controller=>'bandeaus', :action=>'index'}) %>
    </div>
  </div>
  <div id="menu_bar">
  <%= link_to('Tools',   {:controller=>'tools', :action=>'sdp_index'}, {:class=>'btnlnk'})  %>
  <%= link_to('General', {:controller=>'lesson_collects', :action=>'index'}, {:class=>'btnlnk'})  %>
  <%= link_to('Import',  {:controller=>'lesson_collects', :action=>'import_form'}, {:class=>'btnlnk'})  %>
  </div>
</div>


<div id="content">
<%= yield %>
</div>

<%= render :file => 'layouts/footer.erb' %>
</body>
</html>

